TEI_MODEL_ID=nomic-ai/nomic-embed-text-v1.5
TEI_REVISION=e5cf08aadaa33385f5990def41f7a23405aec398
TEI_PORT=80
TEI_MODEL_CACHE=/data
TEI_MAX_CLIENT_BATCH_SIZE=32
TEI_TOKENIZATION_WORKERS=8
TEI_OMP_NUM_THREADS=8
TEI_RAYON_NUM_THREADS=8
